# Consistency

From [Pep8](https://peps.python.org/pep-0008/#a-foolish-consistency-is-the-hobgoblin-of-little-minds):
> A style guide is about consistency. Consistency with this style guide is important. Consistency within a project is more important.
> Consistency within one module or function is the most important.</br>
> 
>
> However, know when to be inconsistent -- sometimes style guide recommendations just aren't applicable. When in doubt, use your
> best judgment. Look at other examples and decide what looks best. And don't hesitate to ask!

# General Guidance

- Do not optimize for fewer lines of code, new lines are cheap but [brain time is expensive](https://www.getdbt.com/blog/write-better-sql-a-defense-of-group-by-1)
- Indentation : 4 spaces for Indentation
  To ensure that SQL is readable it is important that standards of indentation are followed
- Prefer `LOWER(column) LIKE '%match%'` to `column ILIKE '%Match%'`. This lowers the chance of stray capital letters leading to an unexpected result.
- Prefer `WHERE` to `HAVING` when either would suffice
- Prefer `!=` to `<>`. This is because `!=` is more common in other programming languages and reads like "not equal" which is how we're more likely to
speak.

# Reserved Words
Always use uppercase for reserved keywords and functions like **SELECT**, **FROM**, **WHERE**, **JOIN**, **AS**, **GROUP BY**, **ORDER BY** or **SUM**, **ROUND**, **CASE WHEN**, **DISTINCT**.

``` sql
-- Good
SELECT
    ID,
    GameName,
    GameNameFlow,
    LogText,
    CASE
        WHEN LOWER(GameName) = 'fecebook' THEN 'Meta'
        WHEN LOWER(GameName) = 'google' THEN 'Alphabet'
        ELSE LOWER(GameName)
    END AS name_category
FROM
    Company
WHERE
    LOWER(GameNameFlow) RLIKE 'bonus|cash'
```

``` sql
-- Bad
select
    ID,
    GameName,
    GameNameFlow,
    LogText,
    case when LOWER(GameName) = 'fecebook' then 'Meta'
         when LOWER(GameName) = 'google' then 'Alphabet'
         else LOWER(GameName)
    end name_category
from Company
where GameNameFlow RLIKE 'bonus|cash'
```

# Variable Names

1. Use consistent and descriptive identifiers and names.
1. Use lower case names with underscores, such as `first_name`. Do not use CamelCase.
1. Names must begin with a letter and may not end in an underscore.
1. Only use letters, numbers, and underscores in variable names.

```sql
-- All field names should be snake-cased:
 -- Good
SELECT
    transactionrequestdatetime AS transaction_request_datetime
...
 -- vs
 
 -- BAD
SELECT
    transactionrequestdatetime AS DeviceCreatedTimestamp
...
```


```sql
-- Boolean field names should start with has_, is_, or does_:
 -- Good
SELECT
    active AS is_active,
    banned AS is_banned
FROM
    souce_db.UserRights
    
 -- vs
 
 -- BAD
SELECT
    active,
    banned
FROM
    souce_db.UserRights
```

```sql
-- Timestamps should end with _at and should always be in UTC.
-- Dates should end with _date.
-- When truncating dates name the column in accordance with the truncation.
SELECT
    transactionrequestdatetime AS tx_at, -- 2020-01-15 12:15:00.00
    DATE_FORMAT(transactionrequestdatetime, 'yyyy-MM-dd') AS tx_date -- 2020-01-15
    DATE_FORMAT(transactionrequestdatetime, 'yyyy-MM') AS tx_month -- 2020-01
FROM
    souce_db.Transactions
```

# Be Explicit
When choosing between explicit or implicit syntax, prefer explicit.

## Aliasing
Always include the AS keyword when aliasing a variable or table name, it's easier to read when explicit.
```sql
-- Good
SELECT
 YEAR(CreatedDate) AS created_year,
 MONTH(CreatedDate) AS created_month,
 DATE(CreatedDate) AS created_date
FROM
 mobilegambling_reportingview.PlayerAccounts
LIMIT
 10
```

```sql
-- Bad
SELECT
    YEAR(CreatedDate) created_year,
    MONTH(CreatedDate) created_month,
    DATE(CreatedDate) created_date
FROM
 source_db.Users
LIMIT
 10
```

## Grouping Columns
In the previous example, implicit grouping columns were discouraged, but there are cases where it makes sense.
In some SQL flavors (such as [Presto](https://prestodb.io/docs/current/sql/select.html)) grouping elements must refer to the expression before any aliasing is done. If you are grouping by a complex expression it may be desirable to use implicit grouping columns rather than repeating the expression.

```sql
-- Good
-- MySQL SQL Syntax
SELECT
    AffiliateCategoryID AS affiliate_category_id,
    BrandName AS brand_name,
    COUNT(DISTINCT AffiliateID) AS affiliate_count
FROM
    source_db.Affiliates
WHERE
    Deleted = 0
GROUP BY
    affiliate_category_id,
    brand_name
    ;
```

```sql
-- Good
-- HIVE SQL Syntax
SELECT
    IF(countryid = 1, "UK", "Others") AS country_name,
    affiliateid AS affiliate_id,
    COUNT(DISTINCT accountid) AS account_count
FROM
    source_db.Users
WHERE
    YEAR(createddate) >= 2022
GROUP BY
    IF(countryid = 1, "UK", "Others"),
    affiliateid -- Grouping by aliases is not supported in HIVE
 ```
 
 
```sql
-- Bad
SELECT
    IF(countryid = 1, "UK", "Others") AS country_name,
    affiliateid AS affiliate_id,
    COUNT(DISTINCT accountid) AS account_count
FROM
    source_db.Users
WHERE
    YEAR(createddate) >= 2022
GROUP BY
    1,
    2 -- Implicit grouping column names
 ```

## JOIN Reference Conventions
- When joining tables and referencing columns from both tables consider the following:
- - reference the **full table name** instead of an alias when the table name is shorter, maybe less than 20 characters. (try to rename the CTE if possible, and lastly consider aliasing to something descriptive)
- - always qualify each column in the `SELECT` statement with the table name / alias for easy navigation

```sql
-- Good
SELECT
    Users.accountid,
    Users.affiliateid,
    Affiliates.affiliatename,
    Users.registereddate,
FROM
    source_db.Users
JOIN
    source_db.Affiliates
ON
    Affiliates.affiliateid = Users.affiliateid
```

```sql 
 -- Bad 1
-- Implicit column names
SELECT
    accountid,
    Users.affiliateid,
    affiliatename,
    registereddate,
FROM
    source_db.Users
JOIN
    source_db.Affiliates
ON
    Affiliates.affiliateid = Users.affiliateid
    
    
-- Bad 2
SELECT
    a.accountid,
    b.affiliateid,
    a.affiliatename,
    a.registereddate,
FROM
    source_db.Users AS a
JOIN
    source_db.Affiliates AS b
ON
    a.affiliateid = b.affiliateid
```

## Left Align Root Keywords
Root keywords should all start on the same character boundary. This is counter to the common "rivers" pattern described here.

```sql
-- Good
SELECT
    client_id,
    submission_date
FROM
    main_summary
WHERE
    sample_id = '42'
    AND submission_date > '20180101'
LIMIT
    10
    ;
 
-- Bad
SELECT client_id,
       submission_date
FROM   main_summary
WHERE  sample_id = '42'
  AND  submission_date > '20180101'
```

## Code Blocks
Root keywords should be on their own line. For example:

```sql
-- Good:
SELECT
    client_id,
    submission_date
FROM
    main_summary
WHERE
    submission_date > '20180101'
    AND sample_id = '42'
LIMIT
    10
```

Do not include multiple arguments on one line.

```sql
-- Bad 1
SELECT client_id, submission_date
FROM main_summary
WHERE
    submission_date > '20180101'
    AND sample_id = '42'
LIMIT 10
```

```sql
-- Bad 2
SELECT
    client_id,
    submission_date
FROM main_summary
WHERE submission_date > '20180101'
  AND sample_id = '42'
LIMIT 10
```

## Parentheses
If parentheses span multiple lines:
1. The opening parenthesis should terminate the line.
1. The closing parenthesis should be lined up under the first character of the line that starts the multi-line construct.
1. The contents of the parentheses should be indented one level.

```sql
-- Good:
WITH sample AS (
    SELECT
        client_id,
    FROM
        main_summary
    WHERE
        sample_id = '42'
)
...
```

```sql
-- Bad 1 (Terminating parenthesis on shared line)
WITH sample AS (
 SELECT
 client_id,
 FROM
 main_summary
 WHERE
 sample_id = '42')
```


```sql
-- Bad 2 (No indent)
WITH sample AS (
SELECT
 client_id,
FROM
 main_summary
WHERE
 sample_id = '42'
)
```

## Boolean at the Beginning of Line
`AND` and `OR` should always be at the beginning of the line. For example:

```sql
-- Good:
    ...
WHERE
    submission_date > 20180101
    AND sample_id = '42'
```

```sql
-- Bad
    ...
WHERE
    submission_date > 20180101 AND
    sample_id = '42'
```

## Nested Queries
Do not use nested queries. Instead, use Common Table Expressions (CTEs) to improve readability.


```sql
-- Good:
WITH sample AS (
SELECT
    client_id,
    submission_date
FROM
    main_summary
WHERE
    sample_id = '42'
)
SELECT
    *
FROM
    sample
LIMIT
    10
```


```sql
-- Bad:
SELECT
    *
FROM (
 SELECT
 client_id,
 submission_date
 FROM
 main_summary
 WHERE
 sample_id = '42'
 )
LIMIT 10
```

## Example Code
This example code has been processed though SQLFluff linter and had the style guide applied.

```sql
DROP TABLE IF EXISTS source_db.tmp_sql_example;
CREATE TEMPORARY TABLE IF NOT EXISTS source_db.tmp_sql_example
STORED AS ORC AS
WITH tmp_user_history AS (
    SELECT
        accountid AS account_id,
        DATE_FORMAT(actiondate, 'yyyy-MM-dd') AS action_date,
        reasondescription AS reason_description
    FROM
        source_db.UserHistory
    WHERE
        LOWER(UserHistory.reasondescription) RLIKE 'bad record'
        AND LOWER(UserHistory.reasondescription) RLIKE 'scammer'
),
/*
This is a very long comment: It is good practice to leave comments in code to
explain complex logic in CTEs or business logic which may not be intuitive to
someone who does not have intimate knowledge of the data source. This can help
new users familiarize themselves with the code quickly.
*/
tmp_base AS (
SELECT
    account_id,
    reason_description,
    ROW_NUMBER() OVER(PARTITION BY account_id ORDER BY action_date DESC) AS rn
FROM
    tmp_user_history
)
SELECT
    account_id,
    reason_description
FROM
    tmp_base
WHERE
    rn = 1
     ;
```

# Functions

## Data Types
Use default data types and not aliases.
```sql
-- Good
SELECT
    DATE_FORMAT(transactionrequestdatetime, 'yyyy-MM') AS tx_month,
    DATE_FORMAT(transactionrequestdatetime, 'yyyy-MM-dd') AS tx_date,
    transactionrequestdatetime AS AS tx_at
FROM
    source_db.Transactions
LIMIT
    10
```

```sql
-- Bad
SELECT
    SUBSTR(transactionrequestdatetime, 1, 7) AS tx_month,
    SUBSTR(transactionrequestdatetime, 1, 10) AS tx_date,
    transactionrequestdatetime
FROM
    source_db.Transactions
LIMIT
    10
```

result

| tx_month | tx_date | tx_at |
| ----------- | ----------- | ----------- |
| 2008-06 | 2008-06-24 | 2008-06-24 12:53:33|

# Reference
- Gitlab handbook : https://about.gitlab.com/handbook/business-technology/data-team/platform/sql-style-guide/
- Mozilla Data Documentation : https://docs.telemetry.mozilla.org/concepts/sql_style.html